<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="rdrama.net">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.NoActionBar">
		<activity android:name=".errorHandlerActivity"/>
		<activity android:name=".MainActivity">
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="http"/>
				<data android:scheme="https"/>

				<data android:host="rdrama.net"/>
				<data android:host="www.rdrama.net"/>
				<data android:host="old.rdrama.net"/>

				<data android:host="rdrama.com"/>
				<data android:host="www.rdrama.com"/>

				<data android:host="rdrama.ga"/>
				<data android:host="www.rdrama.ga"/>

				<data android:host="pcmemes.net"/>
				<data android:host="www.pcmemes.net"/>

				<data android:host="chapotraphouse.club"/>
				<data android:host="www.chapotraphouse.club"/>

				<data android:host="cringetopia.org"/>
				<data android:host="www.cringetopia.org"/>

				<data android:host="watchpeopledie.co"/>
				<data android:host="www.watchpeopledie.co"/>
			</intent-filter>
		</activity>
	</application>

</manifest>